*{
    box-sizing: border-box;
}

html{
    height: 100%;
    background-color: #1E1E22;
}

body{
    margin: 0;
}

#title{
    font-size: 72px;
    text-align: center;
    height: auto;
    margin: 30px;
    color: #1ED1C3;
}

#description{
    font-size: 26px;
    color: white;
    text-align: center;
    height: auto;
    margin: 30px;
    position: relative;
    bottom: 20px;
}

#survey-box{
    background-color: transparent;
    margin: auto;
    width: 600px;   
    border-radius: 15px;
}

#survey-form{
    padding: 50px;
    margin: 30px;
}

.form-content{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    margin: 30px auto 30px auto;
}

label{
    display: flex;
    margin: auto auto 10px auto;
}

::placeholder{
    opacity: 70%;
}

#radio-label, #checkbox-label{
    display: flex;
    margin: 5px 10px 10px 1px;
}

input[type=text], [type=email], [type=number], textarea, select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: #1ED1C3;
    border-style: solid;
    border-width: 2px;
}

#submit{
    width: 100%;
    padding: 10px;
    background-color: #1ED1C3;
    border: none;
    border-radius: 5px;
}

#comments{
    min-height: 100px;
    max-width: 100%;
}

@media screen and (max-width: 600px){
    input[type=text], [type=email], [type=number], textarea, select{
        max-width: 70%;
    }

    #comments, #submit{
        max-width: 70%;
    }
}